.settings
.classpath
.project
target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target

boxes-portlet.iml
/bin/
/.checkstyle
