<div class="oc-languagechooser">
  <!--<span class="buttongroup">
    <a class="linkbutton selected" href="#">#language ("od.language.de")</a><a class="linkbutton" href="#">#language ("od.language.en")</a>
  </span>-->
  #if ($is_signed_in)
    <a class="linkbutton rounded" href="$sign_out_url">#language ("sign-out")</a>
  #else
    <a class="linkbutton rounded" href="$sign_in_url">#language ("sign-in-register")</a>
  #end
</div>

#if ($is_signed_in)
  <div class="oc-accountinfo">
      <div class="oc-username">$user_name</div>
      #if ($show_my_account)
      <a class="oc-profile-sub" href="$my_account_url" title='#language ("manage-my-account")'>$my_account_text</a>
      #end

      #set($layoutLocalService = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalService"))
      #set($editDatasetLayout = $layoutLocalService.getFriendlyURLLayout($theme_display.getPortletGroupId(), false, "/bearbeiten"))
      #set($permissionChecker = $theme_display.getPermissionChecker())
      #if ($layoutPermission.contains($permissionChecker, $editDatasetLayout, "VIEW"))
        <a class="oc-profile-sub" href="/web/guest/suchen/-/searchresult/f/onlyEditorMetadata%3AonlyEditorMetadata%2C" title='#language ("od.page.showOwnDatasets")'>
          #language ("od.page.showOwnDatasets")
        </a>
      #end

  </div>
#end

<ul aria-label="#language ("site-pages")" class="off-canvas-nav" role="menubar">
	#foreach ($nav_item in $nav_items)
		#set ($nav_item_attr_selected="")
		#set ($nav_item_css_class="")
		#set ($nav_item_lang="")

		#if ($nav_item.isSelected())
			#set ($nav_item_attr_selected="aria-selected='true'")
			#set ($nav_item_css_class="$nav_item_css_class selected open")
		#end

    #if ($nav_item.getName() == "Blog" || $nav_item.getName() == "Apps")
      #set ($nav_item_lang=" lang='en'")
    #end

		#if ($nav_item.hasChildren())

  		<li class="$nav_item_css_class dropdown" $nav_item_attr_selected role="presentation">
        <button aria-haspopup='true' class="dropdown-toggle" title="$nav_item.getName()" role="menuitem">
          <span>$nav_item.icon() $nav_item.getName()</span>
        </button>

        <ul class="child-menu" role="menu">
          #foreach ($nav_child in $nav_item.getChildren())
            #set ($nav_child_attr_selected="")
            #set ($nav_child_css_class="")

            #if ($nav_child.isSelected())
              #set ($nav_child_attr_selected="aria-selected='true'")
              #set ($nav_child_css_class="selected")
            #end

            <li class="$nav_child_css_class" $nav_child_attr_selected role="presentation">
              <a title="$nav_child.getName()" href="$nav_child.getURL()" $nav_child.getTarget() role="menuitem">$nav_child.getName()</a>
            </li>
          #end
        </ul>
      </li>

		#else

      <li class="$nav_item_css_class" $nav_item_attr_selected role="presentation">
        <a title="$nav_item.getName()"$nav_item_lang href="$nav_item.getURL()" $nav_item.getTarget() role="menuitem">
          <span>$nav_item.icon() $nav_item.getName()</span>
        </a>
      </li>

		#end
	#end
</ul>

<ul class="oc-meta-menu">
  <li><a href="/">#language ("od.page.start")</a></li>
  <li><a href="/web/guest/faq">#language ("od.page.faq")</a></li>
  <li><a href="/web/guest/kontakt">#language ("od.page.contact")</a></li>
</ul>
