#filterPane {
	float: left;
	width: 25%;
	margin: 10px;
}

#filterPane .filter {
	background: white;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.ui-selectmanycheckbox tr {
	vertical-align: top;
}

.ui-selectmanycheckbox label {
	margin-top: 0px;
	font-size: 95%;
}

#contentPane {
	display: inline-block;
	margin: 10px;
	width: 71%;
}

#contentHead {
	display: block;
	padding: 5px;
}

#contentList {
	margin-top: 10px;
}

.resultentry {
	border-radius: 5px;
	background: white;
	padding: 10px;
	margin-bottom: 10px;
}
