<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="IntegrationTest" verbose="1" >
	<test name="FetchAll" >
		<classes>
			<class name="de.fhg.fokus.odp.registry.ODRClientTest">
				<methods>
					<include name="fetchAll" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
