.project
target
nbactions.xml
.settings
entities-portlet-service/.classpath
entities-portlet-service/.project
entities-portlet-service/.settings
entities-portlet-service/target
entities-portlet-service/src
entities-portlet/.classpath
entities-portlet/.project
entities-portlet/.settings
entities-portlet/target
entities-portlet/src/main/java/de/fhg/fokus/odp/entities/model
entities-portlet/src/main/java/de/fhg/fokus/odp/entities/service/base
entities-portlet/src/main/java/de/fhg/fokus/odp/entities/service/persistence
entities-portlet/src/main/resources/META-INF
entities-portlet/src/main/resources/service.properties
entities-portlet/src/main/webapp/WEB-INF/sql

*.iml