.portlet-blogs {
  .separator { // we don't need that element, but we can't edit the template... so this is the fix
    display: none;
  }

  .portlet-body {
    margin-left: rem-calc(15);
    margin-right: rem-calc(15);
    max-width: $row-width;

    @media #{$large-up} {
      width: 66.6667%;
      margin: 0 auto rem-calc(30) auto;
    }

    .col-md-8 {
      max-width: none;
    }

    .widget-mode-detail {
      .widget-mode-detail-text {
        margin-top: 0;
      }
    }

    .entry-navigation {
      padding-left: rem-calc(15);
      padding-right: rem-calc(15);
      padding-top: rem-calc(30);
      padding-bottom: 0;
      background: none;
      border: 0;
  
      .row {
        @extend .row;
        display: flex;
      }
    }

    .form-inline.input-resource-wrapper {
      @extend .design-box, .trackback-area;
      label {
        margin-right: rem-calc(10);
      }
    }
  }

  .portlet-header {
    @media #{$large-up} {
      width: 66.6667%;
    }
  }

  // Overview-Menu: START
  .navbar-inner {
    background: none;
    border: 0;
    box-shadow: none;
    padding: 0;
  }

  .navbar .btn-navbar {
    @extend .sbi-hamburger-menu;

    font-family: "govdata" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    border: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
    color: $black;
    margin: .5rem 0;
    text-shadow: none;
    padding: .8rem;
    font-size: rem-calc(22px);

    &:hover,
    &:active,
    &:focus {
      background: $dark-gray;
      color: $white;
    }
  }

  .navbar .btn-navbar .icon-bar { // to override AUI
    display: none;
  }

  // END: Overview-Menu

  div.widget-mode-simple-entry {
    @extend .design-box;
    margin-bottom: rem-calc(15);
    padding: rem-calc(10) rem-calc(20) rem-calc(20);

    @media #{$large-up} {
      margin-bottom: rem-calc(30);
    }
  }

  .widget-mode-detail .widget-mode-detail-header .widget-mode-detail-text {
    @extend .design-box;
    padding: rem-calc(10) rem-calc(20) rem-calc(20);
    border-style: none;
    margin-bottom: 0;
  }

  .entry-date {
    @extend .h2-metainfo;
    background-image: none;
    color: $black;
    font-weight: bold;
    padding: 0 0 rem-calc(5);

    &:before {
      color: $black;
      content: 'O';
      speak: none;
      font-family: 'govdata';
      font-weight: normal;
      padding-right: .4em;
      vertical-align: text-bottom;
    }
  }

  .widget-mode-detail-text p {
    @extend .sb-text;
  }

  .entry-footer {
    @extend .h2-metainfo;

    a.taglib-icon:hover .taglib-text {
      text-decoration: none;
    }

    .taglib-icon,
    .stats a {
      padding: 6.5px 10px;
      text-decoration: underline;

      &:focus,
      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }

  .entry-author {
    background-image: none;
    border-right-width: 0;
    color: $black;
    display: inline-block;
    float: none;
    font-weight: normal;
    margin: 0;
    padding: 6.5px 10px;

    &:before {
      color: $black;
      content: 'f';
      speak: none;
      font-family: 'govdata';
      font-weight: normal;
      padding-right: .4em;
      vertical-align: text-top;
    }
  }

  .taglib-flags {
    img {
      display: none; // we use a font-icon instead
    }

    .taglib-text {
      position: relative;
      margin-left: 2em;

      &::before {
        position: absolute;
        left: -1.5em;
        content: 'i';
        speak: none;
        font-family: 'govdata';
      }
    }
  }

  .stats {
    color: $black;
    display: inline-block;
    float: none;

    a {
      display: inline-block;
    }
  }

  // --- subscribe bar
  .subscribe {
    padding: rem-calc(15);

    a {
      @extend .h2-metainfo;
      padding: 6.5px 10px;
    }

  }

  // --- Pagination
  .page-item.active .page-link {
    background-color: $dark-gray;
    border-color: $light-gray;
  }

  .taglib-page-iterator {
  }

  .lfr-pagination {
    @extend .column;
    @extend .h2-metainfo;

    @media #{$large-up} {
      padding-left: rem-calc(30);
      padding-right: rem-calc(30);
    }

    small {
      font-size: 100%;
    }

    .search-results {
      margin-left: rem-calc(15);
    }

    .dropdown-toggle .caret {
      margin-left: 5px;
    }
  }

  .lfr-pagination-delta-selector {
    padding-right: rem-calc(15);
  }

  .lfr-pagination-buttons {
    @media #{$medium-only} {
      width: 50%;
    }
  }

  .pager li > a:hover {
    background-color: $dark-gray;
  }

  // --- blog details view
  .widget-mode-detail-header {
    border: 0;

    .title {
      @extend .sb-bigtitle;
      color: $black;
      white-space: normal;
      margin-top: 0;
    }

    .header-back-to a {
      margin-top: 24px;
      padding: 0.4em;
    }
  }

  .container-fluid-max-xl {
    max-width: none;
  }

  // fix back icon next to title
  .portlet-icon-back {
    margin-left: 16.67%;
    padding-left: rem-calc(15);
    height: 3rem;
    width: 4rem;
    line-height: 40px;
    text-align: left;

    @media #{$medium-down} {
      margin-left: rem-calc(15);
      width: 3rem;
    }

    @media #{$small-only} {
      padding-left: 0;
      width: 2rem;
    }

    .lexicon-icon-angle-left {
      height: 2rem;
      width: 2rem;
      margin-top: 0;

      @media #{$medium-down} {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

// Navigation Elements at top of the blog list
.aui .navbar {
  .blog-nav {
    margin-bottom: .5em;
    margin-top: .5em;
  }
  .taglib-icon {
    padding: 6.5px 10px;
    display: block;
  }
}
