.flex-list {
  @media #{$medium-up} {
    display: flex;
    display: -webkit-flex;
  }
}

.category-box-spacer {
	display: none;
	
	@media #{$medium-up} {
	  display: block;
    flex: 1 1 7%;
    -webkit-flex: 1 1 7%;
  }
}

.category-box {
  display: block;
  position: relative;

  a {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    @media #{$medium-up} {
      align-items: center;
      min-height: rem-calc(200);
      height: 100%;
    }
  }

  .kat-img {
    margin: rem-calc(10);
  }
  
  .kat-img-inverted {
    display: none;
  }

  @media #{$small-only} {
    margin-bottom: rem-calc(4);

    a {
      padding: rem-calc(3);
    }

    .kat-img {
      width: 20px;
      height: 20px;
      left: rem-calc(3);
      position: absolute;
      top: rem-calc(3);
    }

    div {
      display: inline-block;
    }

  }

  @media #{$medium-up} {
    flex: 1 1 14%;
    -webkit-flex: 1 1 14%;

    a {
      padding: rem-calc(15) rem-calc(3);
      text-align: center;
    }

    .kat-img {
      width: 35px;
      height: 35px;
      vertical-align: middle;
      min-height: rem-calc(60);
    }
  }

  @media #{$large-up} {
    a {
      padding: rem-calc(15);
    }

    .kat-img {
      width: 60px;
      height: 60px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $dark-gray;
    text-decoration: none;

    a {
      color: $white;
    }
    
    .kat-img-inverted {
      display: inline;
    }
    
    .kat-img-normal {
      display: none;
    }
  }

  &:focus {
    @include focus-glow;
  }

  .category-name {
    font-weight: bold;
    word-break: break-word;

    @media #{$small-only} {
      display: inline;
    }
  }

  .category-data {
    @media #{$small-only} {
      margin-left: rem-calc(40);

      .vertical-align-spacer {
        font-size: 10px; // will center the line...
        line-height: rem-calc(40);
      }

      .inline-block {
        display: inline-block;
        vertical-align: middle;
      }
    }

    @media #{$medium-up} {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      height: 100%;
      max-width: 100%;
    }
  }
}

.categoriesPane {
  position: relative;

  ul {
    margin: 0;
  }

  @media #{$small-only} {
    padding: 0 15px 15px;
  }

  @media #{$medium-up} {
    .flex-list {
      margin-left: rem-calc(10);
      margin-right: rem-calc(10);
    }
  }

  @media #{$medium-only} {
    .category-box {
      margin: rem-calc(7);
    }
  }

  @media #{$large-up} {
    .category-box {
      margin: rem-calc(14);
    }
  }
}

.categories-grid-portlet,
.boxes-portlet {
  margin-top: 1em;
}
