// colors from the styleguide
$dark-gray: #3d3d3d;
$light-gray: #f5f5f5;
$kontur-gray: #c5c5c5;

$data-green: #1e5a5a;
$dokument-violett: #503278;
$app-blue: #284664;
$blog-red: #5a0a0a;
$showcase-blue: #002D62;

$devcorner-green: #064300;
$devcorner-green-light: rgba(6, 67, 0, 0.3);

$metadataquality-pink: rgb(128, 0, 75);
$metadataquality-pink-light: rgb(230, 203, 218);

$hvd-gold: #daa520;

$link-blue: #009fe3;
$white: #fff;
$black: #000;

$deletered: #f2341f;

$twitter-black: #14171A;
$mastodon-purple: #563ACC;

// own colors
$checkbox-border: darken($kontur-gray, 10%);

@mixin navcolor($background-color, $color) {
  &.active > a {
    background-color: $background-color;
    color: $color;

    &:focus {
      background-color: transparent;
      color: $dark-gray;
    }
  }

  a::after {
    border-top-color: $background-color;
    color: $background-color;
  }
}

// colors for the background of the main menu...
#layout_3 { // Daten
  @include navcolor($data-green, $white);
}

#layout_6 { // Dokumente
  @include navcolor($dokument-violett, $white);
}

#layout_7 { // Showcases
  @include navcolor($showcase-blue, $white);
}

#layout_8 { // Neues
  @include navcolor($blog-red, $white);
}

#layout_9 { // Bibliothek
  @include navcolor($black, $white);
}

#layout_47 { // Entwicklerecke
  @include navcolor($devcorner-green, $white)
}

#layout_51 { // Metadatenqualität
  @include navcolor($metadataquality-pink, $white)
}


// colors for mediatype-icons
$mediatypes: (
  "article": $dark-gray,
  "blog": $blog-red,
  "dataset": $data-green,
  "dokument": $dokument-violett,
  "concept": $showcase-blue,
  "publication": $showcase-blue,
  "visualization": $showcase-blue,
  "website": $showcase-blue,
  "tool": $showcase-blue,
  "mobile_app": $showcase-blue,
  "other": $showcase-blue,
);

@each $suffix, $typeColor in $mediatypes {
  .mediatype-icon {
    &.mediatype-#{$suffix} {
      background-color: #{$typeColor};
    }
  }
}
