@import "version"; // file is updated via maven

@import "colors";

@import "foundation/grid.scss";
@import "foundation/visibility.scss";
@import "foundation/offcanvas.scss";

@import "cssfixes";

@import "govdata-icons";
@import "fonts";
@import "mixin-defs";

@import "aui/variables";
@import "aui/variables-alloy";
@import "aui/mixins";
@import "aui/responsive-utilities";
@import "aui/navbar";
@import "aui/responsive-navbar";
@import "aui/responsive-1200px-min";
@import "aui/responsive-767px-max";
@import "aui/responsive-768px-979px";

@import 'liferayvars';

@import "dockbar";

@import "govdata-header";
@import "offcanvas-mainmenu";
@import "footer";
@import "common-design";

@import "information-pages";
@import "blog";
@import "comments";
@import "sitemap";
@import "contact-form";

@import "categories-grid-portlet";
@import "boxes-portlet";
@import "developers-corner-portlet";
@import "metadata-quality-portlet";
@import "dataset";

@import "searchresult";
@import "searchdetails";
@import "searchnumbers";
@import "search-states-portlet";
@import "featured-showcase-portlet";
@import "featured-datasets-portlet";

@import "verify_email";
@import "map";
@import "extsearch";
@import "editdataset";
@import "usermanage";

@import "shariff/shariff";

// css table styles
.grid-table {
  display: table;
}

.grid-tablerow {
  display: table-row;
}

// margins of rows is larger in large-viewsize
.row-margin {
  @media #{$large-up} {
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
  }
}

// fix for empty portlet title (make it disappear)
.portlet-title-text:empty,
.hide-element {
    display: none;
}

.aui {
  // Customization for topmost navbar
  .navbar-top .navbar-inner {
    box-shadow: rem-calc(0) rem-calc(1) rem-calc(6) rgba(0, 0, 0, 0.4);
    background: $light-gray;
  }

  .dockbar {
    font-size: 0.8rem;

    @media #{$large-up} {
      ul.nav {
        & > li:not(.divider-vertical)::after {
          content: "|";
          display: inline-block;
          list-style: outside none none;
        }
        & > li:last-child::after {
          content: "";
        }
      }
    }
  }
  .dockbar .nav {
    li > a,
    a.taglib-icon {
      display: inline-block;
      padding: 6.5px 10px;

      &:hover,
      &:active,
      &:focus {
        color: $black;
        text-decoration: underline;
      }

      .sbi-dropdown {
        position: relative;
        margin-right: 1em;

        &::before {
          margin-left: .5em;
          position: absolute;
          top: .2em;
        }
      }

      .sbi-eingeloggter-user {
        position: relative;
        margin-right: 1.5em;

        &::before {
          margin-right: .5em;
          position: absolute;
          top: .1em;
        }
      }
    }

    .dropdown-menu li a {
      display: block;

      &:hover,
      &:active,
      &:focus {
        color: $white;
        background-color: $dark-gray;
        text-decoration: none;
        background-image: none;
      }
    }
  }
  .navbar .brand {
    padding: rem-calc(11) rem-calc(15);
    &:hover,
    &:focus,
    &:active {
      background-color: inherit;
    }

    @media #{$large-up} {
      img {
        width: auto;
        height: 50px;
      }
    }

    &.show-for-medium-down {
      padding: rem-calc(7) rem-calc(12);

      img {
        width: auto;
        height: 36px;
      }
    }
  }

  // Customization for content navbar
  $contentNavbarHeight: 70px;

  .site-navigation .navbar-inner {
    /* copied from aui.css - begin */
    padding-left: 20px;
    padding-right: 20px;
    background-image: -moz-linear-gradient(top,#f9f9f9,#f3f3f3);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f9f9f9),to(#f3f3f3));
    background-image: -webkit-linear-gradient(top,#f9f9f9,#f3f3f3);
    background-image: -o-linear-gradient(top,#f9f9f9,#f3f3f3);
    background-image: linear-gradient(to bottom,#f9f9f9,#f3f3f3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF9F9F9',endColorstr='#FFF3F3F3',GradientType=0);
    border-bottom: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    *zoom: 1;
    /* copied from aui.css - end */
    background: #fff;
    min-height: $contentNavbarHeight;
    box-shadow: none;

    ul.nav {
      float: right;
      &  > li {
        border-left: 1px solid $navbarBorder;
        float: left;
        & > a {
          color: $dark-gray;
          font-family: 'Source Sans Pro';
          font-size: 16px;
          font-weight: bold;
          line-height: 22px;
          padding: (($contentNavbarHeight - $baseLineHeight) / 2) rem-calc(20);
          position: relative;

          &:hover,
          &:focus,
          &:active {
            background-color: transparent;
            color: $dark-gray;

            &::after {
              content: "";
              position: absolute;
              display: block;
              bottom: -1px;
              left: 0;
              right: 0;
              height: 5px;
              z-index: 100;
              border-top-width: 5px;
              border-top-style: solid;
            }
          }
        }

        &.active > a,
        &.dropdown.active > a,
        &.dropdown.open.active > a {
          color: $white;
          background-color: $dark-gray;

          &::after {
            content: "▼";
            color: $dark-gray;
            speak: none;
            position: absolute;
            display: block;
            bottom: -15px;
            left: 0;
            right: 0;
            height: 15px;
            z-index: 101;
            border-top-width: 5px;
            border-top-style: solid;
            text-align: center;
            line-height: 5px;
          }
        }
      }
    }
  }

  // colorfix for dark inverse labels
  .label-inverse[href] {
    background-color: $dark-gray;
  }

  // A element additions
  a {
    &:hover,
    &:active,
    &:focus {
      background-color: $dark-gray;
      color: $white;
      text-decoration: none;
    }
    &:focus {
      @include focus-glow;
    }
  }
}

#hrefFm {
  margin: 0;
}

// --- login/registration-forms
.portlet-login {
  @extend .design-box;
  margin-top: 1em;
  margin-bottom: 1em;

  .portlet-title {
    margin-bottom: 0;

    .portlet-icon-back {
      color: $black;
    }
  }

  .portlet-content-container {
    @extend .design-box-padding;
  }

  .navigation {
    background: none;
    border-top: 0;
    padding: 0;

    a {
      padding: .5em;
    }

    ul {
      margin: 0;
    }
  }
}

// FastLoginPortlet forms
.aui .dialog-iframe-popup {
  .portlet-body, .portlet-boundary, .portlet-column, .portlet-layout {
    height: inherit;
  }
}

// portlet height when there is no content = 0
.portlet-borderless-container {
  min-height: 0;
}

// fix breadcrumb style
.aui .breadcrumb > li {
  text-shadow: none;

  a {
    padding: .5em;
  }
}

// accessibility colorfix
.taglib-discussion .lfr-discussion-posted-on {
  color: #666;
}
.aui .breadcrumb > li > .divider {
    padding: 0px 5px;
    color: #707070;
}

// alerts from bootstrap
.aui {
  .alert-danger, .alert-error {
    background-color: #fee5e2;
    border-color: #fcaca5;
    color: #b50303;
  }

  .alert-warning {
    border-color: #f1d875;
  }
}

// button background when disabled
.aui .btn-primary.disabled, .aui .btn-primary[disabled] {
  background-color: #EAEAEA;
  color: #333;
}

.align-right {
  text-align: right;
}

// fix for password-reset form
#portlet_new-password .portlet-content-container {
  @extend .design-box;
  @extend .design-box-padding;

  margin-bottom: 2em;

  .alert {
    margin: 0 0 1em;
  }
}

// show "jump to content" on focus
#skip-to-content:focus {
  clip: none;
  ;
}

// hide off-canvas-close-button
.exit-off-canvas {
  display: none;
  left: 50%;
  padding: .5em;
  z-index: 1000;
}

// enable usage of figure without having browser styles interfere
figure {
  margin: 0;
}

// beautify "terms of use"
#portlet_terms-of-use .portlet-content-container {
  @extend .design-box;
  @extend .design-box-padding;

  margin-bottom: 2em;
}

// fix invisible cog on portlets
.aui .dropdown-toggle {
  .icon-cog {
    padding: .3em;
  }

  &:hover,
  &:focus,
  &:active {
    .icon-cog {
      background-color: #3d3d3d;
    }
  }
}

// remove cross sign in search fields to remove the content in Internet Explorer
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

// remove cross sign in search fields to remove the content in webkit browsers
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
