.metainfo {
  text-transform: capitalize;

  > * {
    vertical-align: middle;
  }
}

.mediatype-icon {
  border-radius: 50%;
  display: inline-block;
  margin-right: .5em;
  padding: rem-calc(10);

  img {
    display: block;
    height: 20px;
    width: 20px;
  }

  &.big {
    @media #{$medium-only} {
      padding: rem-calc(13);

      img {
        height: 24px;
        width: 24px;
      }
    }

    @media #{$large-up} {
      padding: rem-calc(15);

      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}
