.developers-corner-portlet {
  .custom-sparql-layout {
    .yasgui {
      .tabsList {
        display: none;
      }
      .controlbar {
        display: none;
      }
      .yasr {
        .tableControls {
          .pageSizerLabel {
            display: none;
          }
          .tableSizer {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .select-format-margin {
    margin-bottom: 15px;
  }

  .query-execute {
    float: right;
  }

  .prefix-textbox {
    width: 100%;
  }

  .btn-margin {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .prefix-btn-active {
    background: #fff;
    color: #000;
  }

  .formatselectarea {
    select {
      background: url($theme-image-path + '/select-arrow-down-gray.png') no-repeat right center $dark-gray;
      background-color: $white;
      color: $dark-gray;
      font-family: 'Source Sans Pro';
      font-size: 16px;
      font-weight: bold;
      height: inherit;
      margin: 0;
      padding: 6px 8px;
      width: 100%;
      border: 1px solid $kontur-gray;
      box-shadow: 1px 1px 1px $kontur-gray;

      @media #{$medium-up} {
        float: left;
        width: 25%;
      }
    }

    @media #{$small-only} {
      font-size: 14px;
    }

    .select-with-info-icon {
      select {
        vertical-align: middle;

        @media #{$medium-up} {
          float: none;
        }

        @media #{$small-only} {
          width: 90%;
        }
      }

      .show-full-text {
        vertical-align: middle;
        font-size: 18px;

        svg {
          top: 0;
        }

        .lexicon-icon {
          margin-top: 0;
        }
      }
    }
  }

  .description-ext {
    margin-top: rem-calc(10);
    padding: 0 rem-calc(5);
  }
}