#metadataEditForm .row .row {
  @include grid-row(nest);
}
.aui .editdataset {
  width: 100%;

  input,
  select,
  textarea {
    background-color: $white;
    border: 1px solid $kontur-gray;
    box-shadow: 1px 1px 1px $kontur-gray;
    color: $dark-gray;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: bold;
    height: inherit;
    line-height: 22px;
    margin: 0;
    max-width: 100% !important;
    padding: 13px 16px;
    width: 100%;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url($theme-image-path + '/select-arrow-down-gray.png') no-repeat right center $white;
  }

  textarea {
    min-height: 200px;
  }

  input[readonly], select[disabled] {
    background-color: $kontur-gray;
  }

  p {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 22px;
  }

  label {
    display: inline;
    font-weight: inherit;
  }

  .space-left {
    margin-left: auto;
    margin-right: 1em;
  }

  .css-table {
    display: table;
    width: 100%;
  }

  .css-row {
    display: table-row;

    > * {
      display: table-cell;
      vertical-align: middle;
      padding: .3em;
    }

    > label {
      vertical-align: top;
      line-height: 50px;
    }
  }

  .date-container .resource-modifieddate {
    padding: 13px 16px;
  }
}

.requiredfieldhint {
  font-weight: bold;
  margin: 0 rem-calc(15) rem-calc(15);
}

.requiredmarker {
  color: $red;
}

.languagecolumn {
  width: 8%;
}

.editdataset {
  td {
    padding: .3em;
  }

  tr.hasinnertable,
  tr.highfield {
    > th {
      line-height: 50px;
      vertical-align: top;
    }
  }

  tr.hasinnertable > td {
    padding: 13px 0;
  }

  tr.highfield > td {
    padding-bottom: 13px;
    padding-top: 13px;
  }

  th {
    padding: .3em 13px 16px 13px;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;

    > label {
      line-height: 50px;
    }
  }

  th.align-right {
    text-align: right;
  }

  pre {
    background-color: $white;
  }

  .innertable {
    width: 100%;

    th,
    td.casualheader {
      line-height: 50px;
      padding: 0 .3em;
    }

    td {
      vertical-align: top;
    }
  }

  .multiboxarea {
    @media #{$large-up} {
      .checkboxitem {
        display: inline-block;
        width: (99% / 2);

        &.singleitem {
          width: auto;
        }
      }
    }
  }

  .field-temporal_coverage {
    td {
      width: 33%;
    }

    &.full-width .date-container {
      width: 100%;
    }
  }

  .validation-error {
    background-color: lighten($blog-red, 60%);
    border: 1px solid lighten($blog-red, 30%);
    margin: .3em 0;
    padding: .5em;
  }

  .help-text {
    padding: .3em;
  }

  .btn.abort {
    float: right;
  }

  .editform_contact {
    display: table;
    width: 100%;
  }

  .editform_contact label {
    display: table-row;
  }

  .editform_contact span,
  .editform_contact input {
    display: table-cell;
    padding: .3em;
    margin: .3em 0;
  }

  .flex-container {
    align-items: flex-start;
  }

  .editform_resource input {
    width: 100%;
  }
  .editform_resource label {
    width: 20%;
  }
}

.addrowbuttoncontainer {
  padding: .3em;
}

.editform-detailscontainer {
  border-left: .3em solid $kontur-gray;
  padding-left: .5em;
  border-radius: .2em;
  margin-bottom: 2em;

  .sb-chapter-head {
    margin: 10px 0;
    width: 100%;
  }
}

#datesCreated {
  padding-left: 4.5em;
}

#datesPublished {
  padding-left: 7.5em;
}

#datesModified {
  padding-left: 6.6em;
}

.aui .buttonDeleteRow {
  white-space: nowrap;
}

#editform {
  h1 {
    margin: rem-calc(15);
  }

  .alert {
    margin-bottom: 1.5em;
    margin-left: .3em;
    margin-right: .3em;
  }
}
