// Source Sans
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.otf?t=' + $timestamp);
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-It.otf?t=' + $timestamp);
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Semibold.otf?t=' + $timestamp);
  font-weight: bold;
}

// Crimson Text
@font-face {
  font-family: 'Crimson Text';
  src: url('fonts/CrimsonText-Roman.ttf?t=' + $timestamp);
}
@font-face {
  font-family: 'Crimson Text';
  src: url('fonts/CrimsonText-Italic.ttf?t=' + $timestamp);
  font-style: italic;
}
@font-face {
  font-family: 'Crimson Text';
  src: url('fonts/CrimsonText-Bold.ttf?t=' + $timestamp);
  font-weight: bold;
}


// Font-Styles
.aui body {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: black;
  background-color: $light-gray;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.aui {
  h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 20px;
    color: inherit;
  }
  h1, h2, h3 {
    line-height:40px
  }
  h1 {
    font-size:38.5px
  }
  h2 {
    font-size:31.5px
  }
  h3 {
    font-size:24.5px
  }
  h4 {
    font-size:17.5px
  }
  h5 {
    font-size:14px
  }
  h6 {
    font-size:11.9px
  }
}

.aui h1,
.sb-bigtitle {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  margin: 20px 0;

  @media #{$small-only} {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 10px;
  }
  @media #{$medium-only} {
    font-size: 28px;
    line-height: 34px;
  }
  @media #{$large-up} {
    font-size: 36px;
    line-height: 42px;
  }
}

.h1-teaser {
  font-family: 'Crimson Text';

  @media #{$small-only} {
    font-size: 14px;
    line-height: 18px;
  }
  @media #{$medium-only} {
    font-size: 16px;
    line-height: 22px;
  }
  @media #{$large-up} {
    font-size: 18px;
    line-height: 24px;
  }
}

.aui {
  h2,
  h1.emptyresultstitle,
  .boxesportlet-box h3 {
    font-family: 'Source Sans Pro';
    font-weight: normal;

    @media #{$small-only} {
      font-size: 16px;
      line-height: 23px;
    }
    @media #{$medium-only} {
      font-size: 20px;
      line-height: 26px;
    }
    @media #{$large-up} {
      font-size: 24px;
      line-height: 31px;
    }

    a {
      text-decoration: none;
    }
  }

  h1.emptyresultstitle {
    color: $dark-gray;
    font-weight: bold;
  }

  .bold {
    font-weight: bold;
  }

  .section-title {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 22px;
  }

  a {
    color: $black;
  }
}

.h2-teaser {
  font-family: 'Crimson Text';

  @media #{$small-only} {
    font-size: 15px;
    line-height: 20px;
  }
  @media #{$medium-only} {
    font-size: 16px;
    line-height: 22px;
  }
  @media #{$large-up} {
    font-size: 18px;
    line-height: 24px;
  }
}

.h2-tags {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  line-height: 18px;
}

.h2-metainfo {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  line-height: 20px;
}

.aui h3,
.sb-chapter-head {
  font-family: 'Source Sans Pro';
  font-weight: normal;

  @media #{$small-only} {
    font-size: 16px;
    line-height: 22px;
  }
  @media #{$medium-only} {
    font-size: 20px;
    line-height: 26px;
  }
  @media #{$large-up} {
    font-size: 22px;
    line-height: 28px;
  }

  a {
    text-decoration: none;
  }
}

.sb-chapter-sub {
  font-family: 'Source Sans Pro';

  @media #{$small-only} {
    font-size: 14px;
    line-height: 20px;
  }
  @media #{$medium-only} {
    font-size: 16px;
    line-height: 22px;
  }
  @media #{$large-up} {
    font-size: 18px;
    line-height: 24px;
  }
}

.aui {
  h4, h5, h6 {
    font-family: 'Source Sans Pro';
  }

  h4 {
    margin: rem-calc(10) 0 0;
    line-height: 24px;
  }
}

.aui p,
.journal-content-article,
.sb-text {
  font-family: 'Crimson Text';

  @media #{$small-only} {
    font-size: 15px;
    line-height: 20px;
  }
  @media #{$medium-only} {
    font-size: 16px;
    line-height: 22px;
  }
  @media #{$large-up} {
    font-size: 18px;
    line-height: 24px;
  }

  a {
    text-decoration: underline;
  }

  li { // fix for very broken aui-style...
    line-height: initial;
  }
}

// Used in gd-search
.aui h1.maintitle {
  background-color: $dark-gray;
  color: $white;
  display: inline-block;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  padding: rem-calc(2) rem-calc(15) rem-calc(4);
  margin: rem-calc(2) 0;

  @media #{$small-only} {
    font-size: 20px;
    line-height: 22px;
  }
  @media #{$medium-only} {
    font-size: 32px;
    line-height: 32px;
  }
  @media #{$large-up} {
    font-size: 46px;
    line-height: 46px;
    margin: rem-calc(5) 0;
    padding-bottom: rem-calc(6);
  }
}

.aui h2.maintitle-teaser {
  background-color: $dark-gray;
  color: $white;
  display: inline-block;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  padding: rem-calc(2) rem-calc(15) rem-calc(4);
  margin: rem-calc(2) 0;

  @media #{$small-only} {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }
  @media #{$medium-only} {
    font-size: 20px;
    line-height: 20px;
  }
  @media #{$large-up} {
    font-size: 24px;
    line-height: 24px;
    margin: rem-calc(5) 0;
    padding-bottom: rem-calc(6);
  }
}

// --- searchresults
.aui .hitscount {
  font-family: 'Source Sans Pro';
  font-size: rem-calc(28);
  font-weight: bold;
  line-height: rem-calc(28);
  margin: 0;
}

.filterresultcount {
  font-family: 'Source Sans Pro';
  font-size: 11px;
  line-height: 18px;
}

.aui .filterarea-title,
.more-linklabel {
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.filtergroup-title {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

#searchresult-container {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  line-height: 22px;
}

// -- off-canvas-menu
#off-canvas-mainmenu {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  line-height: 22px;

  button {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 22px;
  }

  .child-menu li,
  .oc-meta-menu {
    font-size: 14px;
    line-height: 18px;
  }
}

// dataset comments
.comment-controls {
  .edit,
  .delete {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    line-height: 18px;
  }
}

// searchfield dropdown
.autocomplete-dropdown-canvas {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  line-height: 22px;
}
