@charset "UTF-8";

@font-face {
  font-family: "govdata";
  src:url("fonts/govdata.eot");
  src:url("fonts/govdata.eot?#iefix") format("embedded-opentype"),
    url("fonts/govdata.woff") format("woff"),
    url("fonts/govdata.ttf") format("truetype"),
    url("fonts/govdata.svg#govdata") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "govdata" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sbi-"]:before,
[class*=" sbi-"]:before {
  font-family: "govdata" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sbi-typ-dokument:before {
  content: "\62";
}
.sbi-check:before {
  content: "\61";
}
.sbi-close:before {
  content: "\63";
}
.sbi-detailansicht:before {
  content: "\64";
}
.sbi-dropdown:before {
  content: "\65";
}
.sbi-eingeloggter-user:before {
  content: "\66";
}
.sbi-eingeschraenkte-nutzung:before {
  content: "\67";
}
.sbi-externer-link:before {
  content: "\68";
}
.sbi-flag:before {
  content: "\69";
}
.sbi-freie-nutzung:before {
  content: "\6a";
}
.sbi-hamburger-menu:before {
  content: "\6b";
}
.sbi-kat-bevoelkerung:before {
  content: "\6c";
}
.sbi-kat-bildung-wissenschaft:before {
  content: "\6d";
}
.sbi-kat-geo:before {
  content: "\6e";
}
.sbi-komp-valide:before {
  content: "\6f";
}
.sbi-komp-nicht-valide:before {
  content: "\70";
}
.sbi-kat-wirtschaft-arbeit:before {
  content: "\71";
}
.sbi-kat-verwaltung:before {
  content: "\72";
}
.sbi-kat-verbraucher:before {
  content: "\73";
}
.sbi-kat-umwelt-klima:before {
  content: "\74";
}
.sbi-kat-transport-verkehr:before {
  content: "\75";
}
.sbi-kat-soziales:before {
  content: "\76";
}
.sbi-kat-politik-wahlen:before {
  content: "\77";
}
.sbi-kat-kultur-freizeit-sport-tourismus:before {
  content: "\78";
}
.sbi-kat-infrastruktur-bauen-wohnen:before {
  content: "\79";
}
.sbi-kat-gesundheit:before {
  content: "\7a";
}
.sbi-kat-gesetze-justiz:before {
  content: "\41";
}
.sbi-pfeil:before {
  content: "\42";
}
.sbi-rss:before {
  content: "\43";
}
.sbi-slider-links:before {
  content: "\44";
}
.sbi-slider-play:before {
  content: "\45";
}
.sbi-slider-rechts:before {
  content: "\46";
}
.sbi-slider-stop:before {
  content: "\47";
}
.sbi-sterne-bewertung:before {
  content: "\48";
}
.sbi-typ-app:before {
  content: "\49";
}
.sbi-typ-article:before {
  content: "\4a";
}
.sbi-typ-blog:before {
  content: "\4b";
}
.sbi-typ-datensatz:before {
  content: "\4c";
}
.sbi-sterne-bewertung-full:before {
  content: "\4d";
}
.sbi-lupe:before {
  content: "\4e";
}
.sbi-kalender:before {
  content: "\4f";
}
.sbi-dropup:before {
  content: "\50";
}
.sbi-diaspora:before {
  content: "\51";
}
.sbi-pfeil-links:before {
  content: "\52";
}
.sbi-arrow-left:before {
  content: "\53";
}
.sbi-arrow-right:before {
  content: "\54";
}
.sbi-trashcan:before {
  content: "\55";
}
.sbi-plus:before {
  content: "\56";
}
.sbi-my-list:before {
  content: "\57";
}
