.information-nav {
  @extend .design-box;

  .portlet-header h1 {
    @extend .sb-chapter-head;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    @extend .sb-chapter-sub;
    display: block;

    a {
      display: block;
      padding: .5em rem-calc(15);

      &.selected {
        background-color: $dark-gray;
        color: $white;
        font-weight: normal;
      }
    }
  }

  @media #{$medium-down} {
    display: none; // we have this navigation in off-canvas menu...
  }
}

.aui {
  .information-nav .portlet-header h1 {
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
  }

  .portlet-journal-content.article-gray-header {
    background-color: inherit;
    border-style: none;

    section {
      padding: 0;
    }

    .portlet-content-container {
      @extend .design-box;
      margin-bottom: rem-calc(30);
      padding: rem-calc(15);
    }
    
    &.content-centered-design {

      .portlet-header {
        text-align: center;
      }

      .portlet-content-container {
        @extend .row-small;
      }
    }
  }
}

.portlet-journal-content.standalone-page {
  background-color: inherit;
  border-style: none;

  .portlet-content-container {
    @extend .design-box;
    margin-bottom: rem-calc(30);
    padding: rem-calc(15);
  }
}

.modern-information-nav {
  @extend .modern-nav;

  .navbar-nav {
    @extend .row-small;
    max-width: rem-calc(980);
    text-align: center;
  }

  .portlet-body {
    line-height: 0em;
    font-size: 0px; // remove whitespaces between <li>
  }

  li {
    line-height: rem-calc(45);
    position: relative;
    margin-right: -1px; // remove overlapping borders

    &.selected {
        border-left: 1px;
        border-left-style: solid;
    }
  }

  li:after { // horizontal line
    content: '';
    height: 1px;
    background: white;
    width: 2000%;
    position: absolute;
    left: -800%;
}

  @media #{$medium-down} {
    display: none; // we have this navigation in off-canvas menu...
  }
}
