.metadata-quality-nav {
  @extend .design-box;
  
  ul {
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: $metadataquality-pink-light;
  }

  li {
    @extend .sb-chapter-sub;
    display: block;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    border-color: white;
    line-height: 2.25em;
    min-width: 10em;
    text-align: center;
    color: $black;

    &.selected {
        background-color: $metadataquality-pink;
        color: $white;
        border-style: none;
    }

    // workaround: <a> in minimal navigation-bar is incorrectly not set to active in liferay 7.3
    a {
      color: inherit;
    }

    a:hover {
      background-color: $metadataquality-pink;
      color: $white;
    }
  }
}


