.searchdetails {
  .column {
    margin-bottom: rem-calc(15);

    @media #{$large-up} {
      margin-bottom: rem-calc(30);
    }
  }

  .h2-teaser {
    margin-bottom: 1em;
    word-wrap: break-word;
  }

  .space-bottom {
    margin-bottom: 1.2em;
  }

  .iconlink {
    font-size: 20px;
    vertical-align: top;
  }

  .link-to-source {
    margin-bottom: 1em;
  }

  .alert {
    margin: .5em 0 0;
    padding: .5em 1em;
  }

  .alert strong {
    font-weight: normal;
  }

  .alert-icon-resource {
    margin-right: .5em;
    width: rem-calc(20px);
  }
}

.aui .resource-list {
  margin: 0;
  padding: 0;

  dt,
  dd {
    margin: .5em 0;
    line-height: rem-calc(23px);
  }

  dt:before {
    content: "";
    display: block;
  }

  li {
    display: block;
    margin-bottom: .6em;
    word-wrap: break-word;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2, h3 {
    border-top: 1px solid $kontur-gray;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: .7em 0 .4em;
    font-weight: bold;
  }

  a {
    text-decoration: underline;
  }
}

.aui .resource-icon {
  background-color: $dark-gray;
  border-radius: 3px;
  color: $white;
  float: right;
  padding: 0 .5em;
  text-align: center;
  font-weight: normal;

  font-family: 'Source Sans Pro';
  font-size: 14px;
  line-height: 20px;

  max-width: 11em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ckan-link .resource-item {
  word-break: break-all;
}

.taglist > * {
  display: inline;

  &:not(:last-child) span::after {
    content: ', ';
  }
}

.searchdetails-infobox {
  [class^='sbi-']:before,
  [class*=' sbi-']:before {
    font-size: rem-calc(18px);
    line-height: rem-calc(18px);
    padding: .3em;
    vertical-align: text-top;
  }

  .licence span::before {
    line-height: rem-calc(14px);
  }

  .categories > * {
    margin: rem-calc(5) 0;
  }
}

.details-rating {
  float: right;
}

// ### Comments
.aui .comment-textarea {
  border: 1px solid $kontur-gray;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: rem-calc(20);
  margin-top: rem-calc(15);
  min-height: 7em;
  padding: 1em;
  width: 100%;
}

.comment-button-row {
  margin-bottom: rem-calc(15);
  text-align: right;
}

.comment-entry {
  .avatar {
    border-radius: 50%;
    float: left;
    height: 50px;
    margin-right: 1em;
    width: 50px;
  }

  .user-name {
    margin-top: 5px;
  }
}

.comment-controls {
  clear: both;
  padding: rem-calc(10) 0;

  .edit,
  .delete {
    background: none;
    background-image: none;
    border: 0;

    i {
      margin-right: 5px;
    }
  }
}

.comment-edit-area {
  display: none;
}

.show-no-comments {
  display: none;
}

.no-comments {
  .show-no-comments {
    display: block;
  }

  .hide-no-comments {
    display: none;
  }
}

.section-margin-top {
  margin-top: 1em;
}
// error box
