.portlet-site-map {
  @extend .row;

  .portlet-topper,
  .portlet-content {
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
  }

  .portlet-topper {
    margin: 0 rem-calc(15);

    @media #{$large-up} {
      margin: 0 rem-calc(30);
    }
  }

  .portlet-content {
    margin-bottom: rem-calc(30);

    a {
      display: inline-block;
      padding: .2em;
      text-decoration: underline;
    }
  }

  .portlet-content-container {
    @extend .design-box, .design-box-padding;
  }
}
