.portlet-site-map {

  .portlet-content {
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
    margin-bottom: rem-calc(30);

    ul {
      padding: 0;
      margin: 0 0 10px 25px;
    }

    a {
      display: inline-block;
      padding: .2em;
      text-decoration: underline;
    }
  }

  .portlet-content-container {
    @extend .design-box, .design-box-padding;
  }
}
