<div xmlns:th="http://www.thymeleaf.org">

  <!--/* Template for displaying the document type as icon and label */-->
  <div th:fragment="documenttypeicon(imagepath, type, isBig)" class="metainfo h2-metainfo">
    <div th:class="'mediatype-icon mediatype-' + ${type} + (${isBig} ? ' big' : '')">
      <img th:src="@{${imagepath} + '/mediatypes/typ_' + ${type} + '_inverted.svg'}" alt=""/>
    </div>
    <strong th:text="#{'od.' + ${type}}"></strong>
  </div>

  <!--/* Template for displaying the resource icon */-->
  <span th:fragment="resourceicon(resFormat)" th:with="resFormatUpper=${#strings.toUpperCase(resFormat)}"
        class="resource-icon" th:title="${resFormat}">
    <th:block th:with="resShort = ${#strings.contains(resFormat, '/') ? resFormat : resFormatUpper}">
      [[${resShort}]]
    </th:block>
  </span>

  <!--/* Template for displaying the resource icon - as DD-element */-->
  <dd th:fragment="resourceicondd(resFormat)" th:with="resFormatUpper=${#strings.toUpperCase(resFormat)}"
      class="resource-icon" th:title="${resFormat}">
    <th:block th:with="resShort = ${#strings.contains(resFormat, '/') ? resFormat : resFormatUpper}">
      [[${resShort}]]
    </th:block>
  </dd>

  <!--/* Template for displaying categories - as DD-element */-->
  <dd th:fragment="categorydd(imagepath, category)" class="category-item">
    <img th:alt="${category.title}"
         th:src="@{${imagepath} + '/categories/icon_kat_' + ${category.name} + '.svg'}"
         width="20" height="20"/>
    <span th:text="${category.displayName}"></span>
  </dd>

  <!--/* Template for displaying HVD categories - as DD-element */-->
  <dd th:fragment="hvdCategorydd(imagepath, hvdCategory)" class="category-item">
  <img th:alt="#{'od.hvd.category.label.' + ${#strings.toLowerCase(hvdCategory)}}"
         th:src="@{${imagepath} + '/hvdcategories/icon_hvdkat_' + ${#strings.toLowerCase(hvdCategory)} + '.svg'}"
         width="20" height="20"/>
    <span th:text="#{'od.hvd.category.label.' + ${#strings.toLowerCase(hvdCategory)}}"></span>
  </dd>
</div>