.yui3-calendar-pane {
  width : 100%;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  line-height: 20px;
}

.yui3-calendar-grid {
  width : 100%;
}

.yui3-calendar-column-hidden,
.yui3-calendar-hidden {
  display : none;
}

.yui3-skin-sam .yui3-calendar-content {
  padding            : 10px;
  color              : #000;
  border             : 1px solid gray;
  border-radius      : 5px;
  background         : -moz-linear-gradient(top, #f9f9f9 0, #f2f2f2 100%);
  background         : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f2f2f2));
  background         : -webkit-linear-gradient(top, #f9f9f9 0, #f2f2f2 100%);
  background         : #f2f2f2;
  background         : -ms-linear-gradient(top, #f9f9f9 0, #f2f2f2 100%);
  background         : linear-gradient(top, #f9f9f9 0, #f2f2f2 100%);
  background         : -o-linear-gradient(top, #f9f9f9 0, #f2f2f2 100%);
  -moz-border-radius : 5px;
}

.yui3-skin-sam .yui3-calendar-grid {
  padding         : 5px;
  border-collapse : collapse;
}

.yui3-skin-sam .yui3-calendar-header {
  padding-bottom : 10px;
}

.yui3-skin-sam .yui3-calendar-header-label {
  margin      : 0;
  font-size   : 1em;
  font-weight : bold;
}

.yui3-skin-sam .yui3-calendar-day,
.yui3-skin-sam .yui3-calendar-nextmonth-day,
.yui3-skin-sam .yui3-calendar-prevmonth-day {
  padding    : 5px;
  border     : 1px solid #ccc;
  text-align : center;
  background : #fff;
}

.yui3-skin-sam .yui3-calendar-day:hover {
  color      : #fff;
  background : #3d3d3d;
}

.yui3-skin-sam .yui3-calendar-selection-disabled,
.yui3-skin-sam .yui3-calendar-selection-disabled:hover {
  color      : #a6a6a6;
  background : #ccc;
}

.yui3-skin-sam .yui3-calendar-weekday {
  font-weight : bold;
}

.yui3-skin-sam .yui3-calendar-nextmonth-day,
.yui3-skin-sam .yui3-calendar-prevmonth-day {
  color : #a6a6a6;
}

.yui3-skin-sam .yui3-calendar-day {
  font-weight : bold;
}

.yui3-skin-sam .yui3-calendar-day-selected {
  color            : #000;
  background-color : #c5c5c5;
}

.yui3-skin-sam .yui3-calendar-header-label {
  text-align : center;
}

.yui3-skin-sam .yui3-calendar-left-grid {
  margin-right : 1em;
}

.yui3-skin-sam .yui3-calendar-right-grid {
  margin-left : 1em;
}

.yui3-skin-sam .yui3-calendar-day-highlighted {
  background-color : #f5f5f5;
}

.yui3-skin-sam .yui3-calendar-day-selected.yui3-calendar-day-highlighted {
  background-color : #c5c5c5;
}

#yui3-css-stamp.skin-sam-calendar-base {
  display : none;
}
