discussionEmailBody=Sehr\ geehrte(r)\ [$TO_NAME$],<br/><br/>[$COMMENTS_USER_NAME$]\ hat\ einen\ Kommentar\ hinzugefügt.<br/><br/>----------<br/>[$COMMENTS_BODY$]<br/>----------<br/><br/><a\ href=\"[$CONTENT_URL$]\">Kommentar\ anzeigen.</a><br/><br/>Mit\ freundlichen\ Grüßen,<br/>[$FROM_NAME$]<br/>[$FROM_ADDRESS$]
discussionEmailSubject=Neuer\ Kommentar\ von\ [$COMMENTS_USER_NAME$]
discussionEmailUpdatedBody=Sehr\ geehrte(r)\ [$TO_NAME$],<br/><br/>[$COMMENTS_USER_NAME$]\ hat\ einen\ Kommentar\ bearbeitet.<br/><br/>----------<br/>[$COMMENTS_BODY$]<br/>----------<br/><br/><a\ href=\"[$CONTENT_URL$]\">Kommentar\ anzeigen.</a><br/><br/>Mit\ freundlichen\ Grüßen,<br/>[$FROM_NAME$]<br/>[$FROM_ADDRESS$]
discussionEmailUpdatedSubject=Kommentar\ bearbeitet\ von\ [$COMMENTS_USER_NAME$]