blacklistComponentNames=[ \
  "com.liferay.product.navigation.site.administration.internal.menu.MySitesPersonalMenuEntry", \
  "com.liferay.sharing.web.internal.product.navigation.personal.menu.SharedAssetsPersonalMenuEntry", \
  "com.liferay.oauth2.provider.web.internal.product.navigation.personal.menu.OAuth2ConnectedApplicationsPersonalMenuEntry", \
  "com.liferay.users.admin.web.internal.product.navigation.personal.menu.MyOrganizationsPersonalMenuEntry", \
  "com.liferay.portal.workflow.task.web.internal.product.navigation.personal.menu.MyWorkflowTaskPersonalMenuEntry", \
  "com.liferay.portal.workflow.web.internal.product.navigation.personal.menu.UserWorkflowPersonalMenuEntry", \
  "com.liferay.users.admin.web.internal.frontend.taglib.servlet.taglib.UserContactScreenNavigationCategory", \
  "com.liferay.users.admin.web.internal.frontend.taglib.servlet.taglib.UserPreferencesScreenNavigationCategory", \
  "com.liferay.users.admin.web.internal.frontend.taglib.servlet.taglib.UserOrganizationsScreenNavigationEntry", \
  "com.liferay.users.admin.web.internal.frontend.taglib.servlet.taglib.UserMembershipsScreenNavigationEntry", \
  "com.liferay.users.admin.web.internal.frontend.taglib.servlet.taglib.UserRolesScreenNavigationEntry", \
  "com.liferay.connected.app.web.internal.frontend.taglib.servlet.taglib.UserConnectedAppScreenNavigationEntry", \
  ]
