<div id="metadataEditForm" xmlns:th="http://www.thymeleaf.org">
  <div class="row">
    <div class="column" th:unless="${userCanEditDataset}">
      <div class="alert alert-error" th:text="#{od.editform.accessdenied}" role="alert"></div>
    </div>
    <div class="column overflowscroll" th:if="${userCanEditDataset}">
      <form id="editform" action="#" th:action="${actionUrl}" th:object="${editForm}" method="post"
        th:attr="data-removeresourcedialog=#{od.editform.removeresource.confirmdialog},
                 data-deletedatasetdialog=#{od.editform.delete.confirmdialog},
                 data-onbeforeunload=#{od.editform.unsavedchanges}">
        <h1 th:text="#{'od.editform.title.new'}" th:if="*{isNewDataset()}"></h1>
        <h1 th:text="#{'od.editform.title.edit'}" th:unless="*{isNewDataset()}"></h1>
        <strong class="requiredfieldhint">[[#{'od.editform.required.fields.hint'}]]</strong>

        <div th:unless="${#strings.isEmpty(message)}" role="alert" th:class="'alert ' + ${messageType}" th:text="${#messages.msg(message)}"></div>

        <input type="hidden" th:field="*{name}" />
        <table class="editdataset" role="presentation">
          <tr th:unless="*{isNewDataset()}">
            <th>[[#{'od.name.name'}]]</th>
            <td>
              <div th:text="*{name}"></div>
            </td>
          </tr>

          <tr>
            <th><label id="organizationId_label" for="organizationId">[[#{'od.organization.name'}]]<span class="requiredmarker"> *</span></label></th>
            <td>
              <select aria-required="true" th:field="*{organizationId}" aria-labelledby="organizationId_label organizationId_error" id="organizationSelect" onchange="updateContributorSelect(this.value)" >
                <option th:each="org : ${organizationList}" th:value="${org.id}" th:text="${org.title}"></option>
              </select>
              <div id="organizationId_error" class="validation-error" th:if="${#fields.hasErrors('organizationId')}" th:errors="*{organizationId}"></div>
              <div id="organizationId_error" th:unless="${#fields.hasErrors('organizationId')}"></div>
            </td>
          </tr>

          <tr>
            <th>[[#{'od.private.name'}]]</th>
            <td class="multiboxarea">
              <div class="checkboxitem singleitem">
                <input class="offscreen" type="checkbox" th:field="*{private}" />
                <label class="checkbox" th:for="${#ids.prev('private')}" th:text="#{'od.private.checkboxlabel'}"></label>
              </div>
            </td>
          </tr>

          <tr>
            <th><label id="title_label" for="title">[[#{'od.title.name'}]]<span class="requiredmarker"> *</span></label></th>
            <td class="required-field">
              <div th:replace="~{fragments :: title(${editForm})}"></div>
            </td>
          </tr>

          <tr class="highfield">
            <th><label id="notes_label" for="notes">[[#{'od.notes.name'}]]</label><span class="requiredmarker"> *</span></th>
            <td>
              <div th:replace="~{fragments :: notes(${editForm})}"></div>
            </td>
          </tr>

          <tr th:unless="${hideContributorId}">
            <th><label id="contributorId_label" for="contributorId">[[#{'od.govdata.contributor.name'}]]<span class="requiredmarker"> *</span></label></th>
            <td>
              <select aria-required="true" th:field="*{contributorId}" aria-labelledby="contributorId_label contributorId_error" id="govdataContributorId" >
                <option th:each="option : ${contributorIdSelectList}" th:value="${option.value}" th:text="${option.label}"></option>
              </select>
              <div id="contributorId_error" class="validation-error" th:if="${#fields.hasErrors('contributorId')}" th:errors="*{contributorId}"></div>
              <div id="contributorId_error" th:unless="${#fields.hasErrors('contributorId')}"></div>
            </td>
          </tr>

          <tr class="hasinnertable">
            <th th:text="#{'od.contacts.name'}"></th>
            <td>
              <fieldset>
                <legend class="offscreen" aria-labelledby="contacts_error">[[#{'od.contacts.name'}]]</legend>
                <div th:replace="~{fragments :: contact(${editForm}, 'author')}"></div>
                <div th:replace="~{fragments :: contact(${editForm}, 'maintainer')}"></div>
                <div th:replace="~{fragments :: contact(${editForm}, 'publisher')}"></div>
                <div th:replace="~{fragments :: contact(${editForm}, 'originator')}"></div>
              </fieldset>
              <div id="contacts_error" class="validation-error" th:if="${#fields.hasErrors('contacts')}" th:errors="*{contacts}"></div>
              <div id="contacts_error" th:unless="${#fields.hasErrors('contacts')}"></div>
              <p class="help-text">
                [[#{'od.contacts.help'}]]
              </p>
            </td>
          </tr>

          <tr class="highfield">
            <th th:text="#{'od.groups.name'}"></th>
            <td>
              <fieldset class="multiboxarea">
                <legend class="offscreen" aria-labelledby="categories_error">[[#{'od.groups.name'}]]*</legend>
                <div class="checkboxitem" th:each="category : ${categoryList}">
                  <input class="offscreen" type="checkbox" th:field="*{categories}" th:value="${category.name}" />
                  <label class="checkbox" th:for="${#ids.prev('categories')}" th:text="${category.displayName}"></label>
                </div>
              </fieldset>
              <div id="categories_error" class="validation-error" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"></div>
              <div id="categories_error" th:unless="${#fields.hasErrors('categories')}"></div>
            </td>
          </tr>

          <tr>
            <th><label for="tags" id="tags_label">[[#{'od.tags.name'}]]</label></th>
            <td>
              <div th:replace="~{fragments :: tags(${editForm})}"></div>
            </td>
          </tr>

          <tr>
            <th><label id="url_label" for="url">[[#{'od.url.name'}]]</label></th>
            <td>
              <div th:replace="~{fragments :: url(${editForm})}"></div>
            </td>
          </tr>

          <tr>
            <th><label id="qualityProcessURI_label" for="qualityProcessURI">[[#{'od.editform.qualityprocessuri'}]]</label></th>
            <td>
              <input type="text" th:field="*{qualityProcessURI}" aria-labelledby="qualityProcessURI_label qualityProcessURI_error" />
              <div id="qualityProcessURI_error" class="validation-error" th:if="${#fields.hasErrors('qualityProcessURI')}" th:errors="*{qualityProcessURI}"></div>
              <div id="qualityProcessURI_error" th:unless="${#fields.hasErrors('qualityProcessURI')}"></div>
            </td>
          </tr>

          <tr class="hasinnertable">
            <th th:text="#{'od.dates.name'}"></th>
            <td>
              <fieldset>
                <legend class="offscreen">[[#{'od.dates.name'}]]</legend>
                <table class="innertable field-temporal_coverage full-width">
                  <tbody>
                    <tr>
                      <td>
                        <div class="date-container dates-published">
                          <label id="datesPublished_label" for="datesPublished" class="date-label">[[#{'od.dates.published.name'}]]:</label>
                          <input aria-labelledby="datesPublished_label datesPublished_error" type="text" th:field="*{datesPublished}" aria-required="true" th:placeholder="#{'od.gdsearch.filter.date.insertdate'}" th:title="#{'od.gdsearch.filter.date.input.title'}" />
                        </div>
                        <div id="datesPublished_error" class="validation-error" th:if="${#fields.hasErrors('datesPublished')}" th:errors="*{datesPublished}"></div>
                        <div id="datesPublished_error" th:unless="${#fields.hasErrors('datesPublished')}"></div>
                      </td>
                      <td>
                        <div class="date-container dates-modified">
                          <label id="datesModified_label" for="datesModified" class="date-label">[[#{'od.dates.modified.name'}]]:</label>
                          <input aria-labelledby="datesModified_label datesModified_error" type="text" th:field="*{datesModified}" aria-required="true" th:placeholder="#{'od.gdsearch.filter.date.insertdate'}" th:title="#{'od.gdsearch.filter.date.input.title'}" />
                        </div>
                        <div id="datesModified_error" class="validation-error" th:if="${#fields.hasErrors('datesModified')}" th:errors="*{datesModified}"></div>
                        <div id="datesModified_error" th:unless="${#fields.hasErrors('datesModified')}"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
            </td>
          </tr>

          <tr class="hasinnertable">
            <th th:text="#{'od.resources.name'}"></th>
            <td>
              <fieldset>
                <legend aria-labelledby="resources_error" class="offscreen">[[#{'od.resources.name'}]]</legend>

                <th:block th:each="row,rowStat : *{resources}">
                  <div th:replace="~{fragments :: resource(${editForm}, ${row}, ${rowStat})}"></div>
                </th:block>

                <div id="resources_error" class="validation-error" th:if="${#fields.hasErrors('resources')}" th:errors="*{resources}"></div>
                <div id="resources_error" th:unless="${#fields.hasErrors('resources')}"></div>
                <div class="addrowbuttoncontainer">
                  <button id="buttonAddRow" type="button" name="addResource" class="btn">[[#{'add-resource'}]]</button>
                </div>
              </fieldset>
            </td>
          </tr>

          <tr>
            <th>[[#{'od.gdsearch.filter.date.title'}]]</th>
            <td class="field-temporal_coverage">
              <fieldset>
                <legend class="offscreen">[[#{'od.gdsearch.filter.date.title'}]]</legend>
                <div class="flex-container">
                  <div class="date-from-container date-container">
                    <label id="temporalCoverageFrom_label" for="temporalCoverageFrom" class="date-label">[[#{'od.gdsearch.filter.date.from.label'}]]:</label>
                    <input aria-labelledby="temporalCoverageFrom_label temporalCoverageFrom_error" type="text" th:field="*{temporalCoverageFrom}" class="filter-date-from" th:title="#{'od.gdsearch.filter.date.input.title'}" th:placeholder="#{'od.gdsearch.filter.date.insertdate'}" />
                    <div id="temporalCoverageFrom_error" class="validation-error" th:if="${#fields.hasErrors('temporalCoverageFrom')}" th:errors="*{temporalCoverageFrom}"></div>
                    <div id="temporalCoverageFrom_error" th:unless="${#fields.hasErrors('temporalCoverageFrom')}"></div>
                  </div>
                  <div class="date-until-container date-container">
                    <label id="temporalCoverageUntil_label" for="temporalCoverageUntil" class="date-label">[[#{'od.gdsearch.filter.date.until.label'}]]:</label>
                    <input aria-labelledby="temporalCoverageUntil_label temporalCoverageUntil_error" type="text" th:field="*{temporalCoverageUntil}" class="filter-date-until" th:title="#{'od.gdsearch.filter.date.input.title'}" th:placeholder="#{'od.gdsearch.filter.date.insertdate'}" />
                    <div id="temporalCoverageUntil_error" class="validation-error" th:if="${#fields.hasErrors('temporalCoverageUntil')}" th:errors="*{temporalCoverageUntil}"></div>
                    <div id="temporalCoverageUntil_error" th:unless="${#fields.hasErrors('temporalCoverageUntil')}"></div>
                  </div>
                </div>
              </fieldset>
            </td>
          </tr>

          <tr>
            <th><label id="policiticalGeocodingURI_label" for="policiticalGeocodingURI">[[#{'od.editform.policiticalgeocodinguri'}]]</label></th>
            <td>
              <input type="text" th:field="*{policiticalGeocodingURI}" aria-labelledby="policiticalGeocodingURI_label policiticalGeocodingURI_error" />
              <div class="help-text" th:text="#{od.editform.listformathint}"></div>
              <div id="policiticalGeocodingURI_error" class="validation-error" th:if="${#fields.hasErrors('policiticalGeocodingURI')}" th:errors="*{policiticalGeocodingURI}"></div>
              <div id="policiticalGeocodingURI_error" th:unless="${#fields.hasErrors('policiticalGeocodingURI')}"></div>
            </td>
          </tr>

          <tr>
            <th><label id="legalbasisText_label" for="legalbasisText">[[#{'od.editform.legalbasistext'}]]</label></th>
            <td>
              <input type="text" th:field="*{legalbasisText}" aria-labelledby="legalbasisText_label legalbasisText_error" />
              <div class="help-text" th:text="#{od.editform.listformathint}"></div>
              <div id="legalbasisText_error" class="validation-error" th:if="${#fields.hasErrors('legalbasisText')}" th:errors="*{legalbasisText}"></div>
              <div id="legalbasisText_error" th:unless="${#fields.hasErrors('legalbasisText')}"></div>
            </td>
          </tr>

          <tr>
            <th><label id="policiticalGeocodingLevelURI_label" for="policiticalGeocodingLevelURI">[[#{'od.editform.policiticalgeocodingleveluri'}]]</label></th>
            <td>
              <select th:field="*{policiticalGeocodingLevelURI}"
                      aria-labelledby="policiticalGeocodingLevelURI_label policiticalGeocodingLevelURI_error">
                <option value=""
                        th:text="#{od.select.optional.item.text}"></option>
                <option value="http://dcat-ap.de/def/politicalGeocoding/Level/international"
                        th:text="#{od.editform.policiticalgeocodingleveluri.international}"></option>
                <option value="http://dcat-ap.de/def/politicalGeocoding/Level/european"
                        th:text="#{od.editform.policiticalgeocodingleveluri.european}"></option>
                <option value="http://dcat-ap.de/def/politicalGeocoding/Level/federal"
                        th:text="#{od.editform.policiticalgeocodingleveluri.federal}"></option>
                <option value="http://dcat-ap.de/def/politicalGeocoding/Level/state"
                        th:text="#{od.editform.policiticalgeocodingleveluri.state}"></option>
                <option value="http://dcat-ap.de/def/politicalGeocoding/Level/administrativeDistrict"
                        th:text="#{od.editform.policiticalgeocodingleveluri.administrativedistrict}"></option>
                <option value="http://dcat-ap.de/def/politicalGeocoding/Level/municipality"
                        th:text="#{od.editform.policiticalgeocodingleveluri.municipality}"></option>
              </select>
              <div id="policiticalGeocodingLevelURI_error" class="validation-error" th:if="${#fields.hasErrors('policiticalGeocodingLevelURI')}" th:errors="*{policiticalGeocodingLevelURI}"></div>
              <div id="policiticalGeocodingLevelURI_error" th:unless="${#fields.hasErrors('policiticalGeocodingLevelURI')}"></div>
            </td>
          </tr>

          <tr>
            <th><label id="geocodingText_label" for="geocodingText">[[#{'od.editform.geocodingtext'}]]</label></th>
            <td>
              <input type="text" th:field="*{geocodingText}" aria-labelledby="geocodingText_label geocodingText_error" />
              <div class="help-text" th:text="#{od.editform.listformathint}"></div>
              <div id="geocodingText_error" class="validation-error" th:if="${#fields.hasErrors('geocodingText')}" th:errors="*{geocodingText}"></div>
              <div id="geocodingText_error" th:unless="${#fields.hasErrors('geocodingText')}"></div>
            </td>
          </tr>

          <tr class="highfield">
            <th><label id="spatial_label" for="spatial">[[#{'od.gdsearch.filter.spatial.title'}]]</label></th>
            <td>
              <div th:replace="~{fragments :: spatial(${editForm})}"></div>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <div class="flex-container">
                <button type="submit" class="btn">[[#{'od.editform.save-button'}]]</button>
                <button type="button" class="btn btn-danger space-left" name="deleteDataset" id="buttonDeleteDataset" th:unless="*{isNewDataset()}">[[#{'od.editform.delete-button'}]]</button>
                <a th:unless="${#strings.isEmpty(metadataUrl)}" class="btn abort space-left" th:href="${metadataUrl}" th:text="#{cancel}"></a>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>

<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
/*<![CDATA[*/
  const organizationList = [[${organizationList}]];
  const initialContributorId = [[${editForm.contributorId}]];

  function updateContributorSelect(selectedOrganization) {
    // read contribIds for selected Org
    var contributorIdsOrg = organizationList.find(x => x.id === selectedOrganization).contributorIds;

    // clear existing options
    $("#govdataContributorId").empty();

    // if multiple Ids available - add empty option
    if (contributorIdsOrg.length > 1 && !contributorIdsOrg.includes(initialContributorId)) {
      var option = "<option value=\"\">" + [[#{od.select.required.item.text}]] +"</option>";
      $("#govdataContributorId").append(option);
    }
    // add contributorIds to select field
    contributorIdsOrg.forEach(function(item, i) {
      var selected = "";
      if (item === initialContributorId) {
        selected = " selected";
      }
      var option = "<option value=\"" + item + "\" " + selected + ">" + item +  "</option>";
      $("#govdataContributorId").append(option);
    });
  }
  /*]]>*/
</script>
