<div xmlns:th="http://www.thymeleaf.org" id="featured-showcase-portlet">
  <div class="row">
    <div class="design-box design-box-padding featured-showcase-box small-12 medium-10 large-8">

      <!-- Type-icon -->
      <div th:replace="~{fragments/icons :: documenttypeicon(${themeDisplay.pathThemeImages}, ${showcase.showcase.primaryShowcaseType.name}, true)}"></div>

      <!-- Title -->
      <h1>
        <a th:title="${showcase.titleOnlyText}" th:href="${linkToShowcase}"
          th:text="${#strings.abbreviate(showcase.titleOnlyText, 100)}"></a>
      </h1>

      <!-- Images -->
      <div th:unless="${#lists.isEmpty(showcase.showcase.images)}" class="showcase-images-box">
        <th:block th:each="image : ${showcase.showcase.images}">
          <div class="showcase-image" th:if="${image != null and !#arrays.isEmpty(image.thumbnailImage)}">
            <img th:src="${image.thumbnailImage}" th:title="${#strings.isEmpty(image.sourceName)} ? '' : #{'od.gdsearch.details.image.source'} + ': ' + ${image.sourceName}">
          </div>
      </div>

      <!-- Notes -->
      <p class="h2-teaser" th:text="${#strings.abbreviate(showcase.getNotesOnlyText(), 800)}"></p>

      <!-- Link to showcase -->
      <a th:title="#{${linkTextKey}}" th:href="${linkToShowcase}"
          th:with="linkTextKey = 'od.goto.showcase'" class="goto-entry h2-metainfo">
          <div>[[#{${linkTextKey}}]] <span class="offscreen">"[[${showcase.showcase.title}]]"</span></div>
        </a>
        <div class="goto-entry-spacer"></div>
    </div>
    <!-- Link to Showroom -->
    <p th:if="${showShowroomButton}" class="center-showroom-button">
      <a class="action-button" th:href="${linkToShowroom}">[[#{od.goto.showroom}]]</a>
    </p>
  </div>
</div>