
<div id="devcorner" class="column developers-corner-portlet" xmlns:th="http://www.thymeleaf.org">
  <div th:if="${#lists.size(fusekiEndpoints)} gt 1" class="row row-margin">
    <div class="formatselectarea">
      <h2>[[#{'od.sparql.query.endpoint'}]]:</h2>
      <div class="select-with-info-icon">
        <select id="selectEndpoint" class="form-control" onchange="setEndpoint(fusekiEndpoints[this.selectedIndex]);">
          <option th:each="endpoint : ${fusekiEndpoints}" th:value="${endpoint.url}" th:text="${endpoint.name}"></option>
        </select>
        <span class="show-full-text" th:title="#{od.developers.corner.endpoint.show.more}"
          th:attr="onclick='toggleExtText(this, \'#description-ext\')'">
          <svg aria-hidden="true" class="lexicon-icon lexicon-icon-info-panel-closed">
            <use th:attr="'xlink:href'=@{${themeDisplay.pathThemeImages} + '/lexicon/icons.svg#info-panel-closed'}" />
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div id="endpointDescription" class="row row-margin mark-external-links">
    <p id="description-ext" class="description-ext" th:utext="#{'od.sparql.query.endpoint.description.show.more'}" />
  </div>
  <div id="exampleList" class="row row-margin"></div>
  <div id="prefixList" class="row row-margin"></div>
  <div class="row row-margin select-format-margin">
     <div class="form-group">
       <h2>[[#{'od.sparql.result.format'}]]:</h2>
       <div class="formatselectarea">
         <select id="selectContentType" class="form-control" onchange="setContentType(this.value)">
           <option value="application/sparql-results+json,*/*;q=0.9">JSON</option>
           <option value="application/sparql-results+xml,*/*;q=0.9">XML</option>
           <option value="text/csv,*/*;q=0.9">CSV</option>
         </select>
       </div>
       <a id="executeQuery" class="btn query-execute" onclick="runQuery()">[[#{'od.sparql.query.execute'}]]</a>
     </div>
  </div>
  <div id="yasgui" class="custom-sparql-layout row row-margin"></div>
</div>

<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
/*<![CDATA[*/

  var fusekiEndpoints = [[${fusekiEndpoints}]];
  setAvailableEndpoints(fusekiEndpoints);

  // set default endpoint
  currentEndpoint = fusekiEndpoints[0];

  yasgui = new Yasgui(document.getElementById("yasgui"), {
      requestConfig: { endpoint: currentEndpoint.url, method: "GET" },
      autofocus: false
    });

  console.log("Set SPARQL endpoint to default type: " + currentEndpoint.type);
  try {
    // Try resolve endpoint from available endpoints by url from shared link
    existentEndpointUrl = yasgui.config.requestConfig.endpoint;
    console.log("Read existent SPARQL endpoint url: " + existentEndpointUrl);
    endpointByUrl = getEndpointByUrl(existentEndpointUrl);
    if (endpointByUrl) {
      currentEndpoint = endpointByUrl;
      console.log("Read existent SPARQL endpoint and set to resolved type: " + currentEndpoint.type);
    }
  } catch (err) {
    if (err instanceof TypeError) {
      // ignore type error
      console.log("No yasgui config found, use default values.");
    }
  }

  // Set endpoint in select
  document.getElementById("selectEndpoint").value = currentEndpoint.url;

  setSelectedEndpointType(currentEndpoint.type);

  yasqe = yasgui.getTab().yasqe;
  yasr = yasgui.getTab().yasr;

   // Build list with prefixes
  var prefixesHtml = '<div class="mobileList"><h2>Prefixes hinzufügen:</h2><a id="prefixListElementsBtn" class="btn btn-small" onclick="toggleList(\'prefixListElements\', \'listElements\')">' + getHideName() + '</a></div>';
  var prefixes = getConfig().prefixes;
  prefixesHtml += '<div id="prefixListElements">'
  for(p in prefixes) {
    prefixesHtml += '<a id="prefixButton_' + p + '" class="btn btn-margin" onclick="togglePrefix(\'' + p
        + '\', \'' + prefixes[p] + '\')">' + p + '</a>';
  }
  prefixesHtml += '</div>'
  document.getElementById("prefixList").innerHTML = prefixesHtml;

  // set default queries
  setQueries(currentEndpoint.type);
  // memorize endpoint as previous endpoint for caching query in editor
  setPreviousEndpointType(currentEndpoint.type);

  // init description to hidden
  document.getElementById("description-ext").style.display = "none";

  // init displaying lists to avoid not displaying without javascript
  toggleList("exampleListElements", "listElements");
  toggleList("prefixListElements", "listElements");

/*]]>*/
</script>
  